body {
  background: rgb(228, 227, 227);
  padding: 40px;

  //responsive ness for mobile device
  @media (max-width: 768px) {
    #container {
      margin: 0;
      padding: 0;
    }
  }
}
@media (max-width: 768px) {
  #root {
    padding: 0;
  }
}
#container {
  background: white;
  margin: 0 200px 0 200px;
  // padding: 20px;
  border-radius: 6px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }
  .sortable:hover {
    .photo-checkbox {
      visibility: visible;
      transition: all 0.3s ease;
    }
    .hover-img {
      filter: brightness(60%);
      transition: all 0.3s ease;
    }
  }
  .sortable-img-selected {
    .photo-checkbox {
      visibility: visible;
      transition: all 0.3s ease;
    }
    .hover-img {
      filter: brightness(85%);
      transition: all 0.3s ease;
    }
  }
  // .hover-img:hover {
  //   filter: brightness(60%);
  //   transition: all 0.2s ease;
  // }
  .photo-checkbox {
    position: absolute;
    visibility: hidden;
    top: 10px;
    left: 10px;
    height: 16px;
    width: 16px;
    z-index: 1;
  }
  .delete-btn {
    border: 0;
    background-color: unset;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 61, 61);
    cursor: pointer;
  }
  .divider {
    margin-top: 0 !important;
    margin-bottom: 25px;
  }
}
