body {
  background: rgb(228, 227, 227);
  padding: 40px;

  //responsive ness for mobile device
  @media only screen and (max-width: 835px) {
    #container {
      margin: 0;
    }
  }
  @media only screen and (max-width: 600px) {
    #container {
      margin: 0;
    }
  }
  @media only screen and (max-width: 835px) {
    .photo-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
      padding: 30px;
    }
  }
  @media only screen and (max-width: 600px) {
    .photo-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      padding: 30px;
    }
  }
}

@media only screen and (max-width: 600px) {
  body {
    padding: 0;
  }
}

#container {
  background: white;
  margin: 0 200px 0 200px;
  // padding: 20px;
  border-radius: 6px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }

  .delete-btn {
    border: 0;
    background-color: unset;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 61, 61);
    cursor: pointer;
  }
  .divider {
    margin-top: 0 !important;
    margin-bottom: 25px;
  }
}
